/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1, 7em;
  background-color: #333;
}
a {
  color: #333;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

p,
label,
span,
li {
  margin: 10px 0;
  font-family: "Merriweather", serif;
}

label {
  padding: 1rem;
}
/* Utility Classes */
.container {
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  margin: 2rem;
  font-size: 20px;
  color: #f4f4f4;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;

  transition: 0.5s;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.clr {
  clear: both;
}
.l-heading {
  font-size: 40px;
}

/* Padding */
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

/* Navbar */
#logo {
  text-align: center;
}

#logo img {
  width: 15%;
  height: auto;
}

#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
  border-radius: 0.3rem 0.3rem 0 0;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  margin-bottom: -10px;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 1.1rem;
  text-align: center;
  transition: 0.5s;
}

#navbar ul li a:hover {
  background: #444;
  color: #f7c08a;
}

#menu-options {
  display: table;
  margin: 0 auto;
}
/* Main Image */

#showcase {
  background-image: url("../img/showcase.jpg");
  background-image: no-repeat;
  height: 1050px;
  overflow: scroll;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding: 15rem;
}

#showcase .showcase-content h1 {
  font-size: 75px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}
#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url("../img/photo-1.jpg") no-repeat;
  min-height: 100%;
  border-radius: 0.3rem 0;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  position: relative;
}

#home-info .info-content p {
  padding-bottom: 30px;
}
/*Check Availability*/

.availability {
  padding: 1rem 0;
  margin: 2rem 0;
  background-color: #444;
  z-index: 100;
  border-radius: 0.3rem;
}

/*Explore Rooms*/
#rooms {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.room {
  position: relative;
}
.image-overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
}

.image-overlay p {
  text-align: center;
  margin: 1rem;
}
.image-overlay:hover {
  opacity: 1;
}

.room img {
  width: 100%;
  height: 100%;
  float: right;
}

/* Features Offered*/
.title,
#maps {
  text-align: center;
  padding: 2rem 0;
  color: #f4f4f4;
}

#features {
  display: flex;
}
.box {
  float: left;
  padding: 60px;
  text-align: center;
  margin: 2rem;
  border-radius: 0.3rem;
  color: #ddd;
}
#location,
#meals,
#gym {
  position: relative;
}

#location::before {
  background-image: url("../img/test-bg.jpg");
}

#meals::before {
  background: url("../img/hotel-fanes-genuss-restaurant-1950.jpg");
}

#gym::before {
  background: url("../img/gym.jpg");
}

#location::before,
#meals::before,
#gym::before {
  content: "";
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.4;
  border-radius: 0.3rem;
}

/* About Info */

#about-info {
  text-align: center;
  margin: 0 auto;
  margin-left: 1%;
  margin-right: 1%;
  background-image: url("../img/test-bg.jpg");
}

#about-info span {
  display: block;
  margin-bottom: 2rem;
}

#about-info img {
  width: 30%;
  height: auto;
  border-radius: 0.3rem;
}

/*Contact*/

#contact-form .form-group {
  margin-bottom: 20px;
}
#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd slod;
}

#contact-form textarea {
  height: 200px;
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

/*Where you can find us?*/
.mapouter {
  position: relative;
  height: auto;
  width: 100%;
  padding: 3rem;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: auto;
  width: 600px;
}

.mapouter p,
.mapouter h3 {
  color: #f4f4f4;
  text-align: center;
}

#useful-informations {
  position: absolute;
  top: 20%;
  left: 50%;
}

/*Things to do*/
#things-to-do {
  padding: 1rem;
  background-color: #444;
  border-radius: 0.3rem;
  border: solid 1px #ddd;
  opacity: 0.9;
}

#things-to-do ul li {
  list-style-type: circle;
  padding: 0.3rem;
  margin: 1rem;
  color: #ddd;
}

/*Image Video*/
#image-video {
  position: relative;
}
#image-video img {
  width: 100%;
  height: auto;
}

#image-video a {
  position: absolute;
  bottom: 10%;
  left: 2%;
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  margin: 1rem;
  color: #ddd;
  font-size: 0.8rem;
}

footer img {
  width: 10%;
  height: 10%;
  align-self: center;
}

footer ul li {
  list-style-type: none;
}
